*{
  box-sizing: border-box; 
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: rgb(55, 153, 181);
  width: 100%;
  height: 100%;
  font-family: "sinete", sans-serif;
  font-weight: 400;
  font-style: normal;
}


#modal {
  /* display: none; */
  background-color: white;
  /* position: fixed;
  top: 0;
  left: 0; */
  height: 100%;
  width: 100%;
  z-index: 1;
}

#modal2 {
  display: none;
  background-color: white;
  /* position: fixed;
  top: 0;
  left: 0; */
  height: 100%;
  width: 100%;
  z-index: 1;
}
#modal3 {
  display: none;
  background-color: white;
  /* position: fixed;
  top: 0;
  left: 0; */
  height: 100%;
  width: 100%;
  z-index: 1;
}
#modal4{
  display: none;
  background-color: rgb(255, 255, 255);
}

.modal-textbox {
  background-color: white;
  border-radius: 20px;
  border: 5px solid black;
  text-align: center;
  justify-content: center;
  color: black;
  font-size: 23px;
  box-shadow: 30px 5px 5px black;
  height: auto;
  width: 550px;
  position: absolute;
  top: 5%;
  left: 30%;
}
.modal-textbox:hover {
  box-shadow: 30px 10px 10px whitesmoke; 
} 

#resultMeaning {
  text-align: left;
}

.coinBtn {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.coinBtn:active {
  transform: translateY(4px);
}


.coinToss {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
.coinToss > h1 {
  margin-top: 0;
  margin-bottom: -30px;
}

.coinImg {
  width: 100px;
  height: 100px;
}

#coin-choice {
  border: 3px dotted black;
  text-align: center;
  border-radius: 20px;
}
#coinVid{
  height: 200px;
  width: 300px;
}

.coinFlipAnimation {
  position: relative;
  perspective: 1000px;
}

#flip-animation {
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 1s ease-in-out;
}

.flipped {
  transform: rotateX(180deg);
}

#btnFlip {
  width: 70px;
  height: 70px;
  outline: none;
  filter: drop-shadow(10px 4px 3px rgba(241, 85, 85, 0.25));
  cursor: pointer;
  border-radius: 100px;
  margin-top: 10px;
  border: none;
  background-color: white;
  margin-right: 30px;
}
#btnFlip:active {
  filter: drop-shadow(10px 4px 3px rgba(85, 205, 241, 0.25));
  transform: translateY(4px);
}
#result {
  margin-top: 10px;
  font-weight: bold;
}

.continue {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#playGameBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 0px;
}


